<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../styles/global.css" />
        <link rel="icon" href="../image/faveIcon.svg" type="image/svg+xml" />
        <link rel="stylesheet" href="../styles/about.css" />
        <title>photoStock | About Page</title>
    </head>
    <body>
        <!-- NAVIGATION SECTION -->

        <nav>
            <div><img src="../image/logoAndtext.svg" alt="" id="logo" loading="lazy" /></div>
            <input type="checkbox" id="toggle-menu" />
            <ul>
                <label for="toggle-menu" id="close-menu">
                    <img src="../image/Icons/close_24dp_FILL0_wght400_GRAD0_opsz24.svg" alt="" />
                </label>
                <span class="menu-links">
                    <li><a href="./home.html">SHOP</a></li>
                    <li><a href="">BLOG</a></li>
                    <li><a href="#">ABOUT</a></li>
                </span>

                <span class="menu-logins">
                    <li><a href="./login.html">LOGIN</a></li>
                    <li><a href="./signup.html">SIGNUP</a></li>
                </span>
            </ul>

            <label for="toggle-menu" id="overlay"></label>
            <label for="toggle-menu" id="open-menu">
                <img
                    src="../image/Icons/menu_24dp_FILL0_wght400_GRAD0_opsz24.svg"
                    alt=""
                    loading="lazy"
                />
            </label>
        </nav>
        <div class="padding-bottom"></div>

        <!-- HERO SECTION -->
        <section class="about-hero">
            <h1>Our Journey so Far..</h1>
            <p>About PictureStock</p>
        </section>

        <!-- MISSION SECTION -->
        <section class="mission-section">
            <h1>OUR MISSION</h1>

            <!-- MISSION SECTION ITEM ONE -->
            <div class="mission-section-item item-one">
                <div class="mission-section-item-image">
                    <img src="../image/about_page_images/Ellipse 22.png" alt="" />
                </div>
                <div class="mission-section-item-text">
                    <h2>Connecting People</h2>
                    <p>
                        Lorem ipsum dolor, duet solo santos diam jando Lorem ipsum dolor, duet solo
                        santos diam jandoLorem ipsum dolor, duet solo santos diam jandoLorem ipsum
                        dolor, duet solo santos diam jandoLorem ipsum dolor, duet solo santos diam
                        jando Lorem ipsum dolor, duet solo santos diam jando Lorem ipsum dolor, duet
                        solo santos diam.
                    </p>
                </div>
            </div>

            <!-- MISSION SECTION ITEM TWO -->
            <div class="mission-section-item item-two">
                <div class="mission-section-item-text">
                    <h2>Personalized Gallery</h2>
                    <p>
                        Lorem ipsum dolor, duet solo santos diam jando Lorem ipsum dolor, duet solo
                        santos diam jandoLorem ipsum dolor, duet solo santos diam jandoLorem ipsum
                        dolor, duet solo santos diam jandoLorem ipsum dolor, duet solo santos diam
                        jando Lorem ipsum dolor, duet solo santos diam jando Lorem ipsum dolor, duet
                        solo santos diam.
                    </p>
                </div>
                <div class="mission-section-item-image">
                    <img src="../image/about_page_images/mission-cover-face.png" alt="" />
                </div>
            </div>

            <!-- MISSION SECTION ITEM THREE -->
            <div class="mission-section-item item-three">
                <div class="mission-section-item-image">
                    <img src="../image/about_page_images/lady-with-camera.png" alt="" />
                </div>
                <div class="mission-section-item-text">
                    <h2>Ease of Use</h2>
                    <p>
                        Lorem ipsum dolor, duet solo santos diam jando Lorem ipsum dolor, duet solo
                        santos diam jandoLorem ipsum dolor, duet solo santos diam jandoLorem ipsum
                        dolor, duet solo santos diam jandoLorem ipsum dolor, duet solo santos diam
                        jando Lorem ipsum dolor, duet solo santos diam jando Lorem ipsum dolor, duet
                        solo santos diam.
                    </p>
                </div>
            </div>
        </section>
    </body>
</html>
