<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../styles/home.css" />
        <title>PhotoStock | Home</title>
    </head>
    <body>
        <!-- <button class="toggle-nav">open nav</button> -->
        <div class="outer-dashboard-container">
            <nav></nav>
            <aside></aside>
            <main>
                <div class="chart">
                    <div class="income-stats"></div>
                    <div class="sale-overview"></div>
                </div>
                <div class="sales">
                    <div class="total-sales"></div>
                    <div class="available-balance"></div>
                    <div class="pending-clearance"></div>
                    <div class="pictures"></div>
                    <div class="picture-sold"></div>
                </div>
                <div class="popular-pictures">
                    <div class="popular-picture"></div>
                    <div class="popular-blog-post"></div>
                </div>
            </main>
        </div>
        <script src="app.js"></script>
    </body>
</html>
